@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 1 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1040px) {
  html {
    font-size: 16px;
  }
}

@layer base {
  h1 {
    @apply text-purple text-xl font-semibold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-semibold;
  }

  h6 {
    @apply font-semibold;
  }

  .navlinks {
    @apply py-3 text-grey-700 hover:text-purple transition-colors relative block after:block after:absolute after:left-0 after:h-0.5 after:bg-purple after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right after:hover:origin-left;
  }

  input,
  textarea {
    @apply w-full rounded px-6 py-4 border border-peach-700 bg-peach-500 outline-none text-sm text-grey-700;
  }

  .quote::before,
  .quote::after {
    content: '"';
    margin: 0 0.3rem;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-[1920px] mx-auto px-[16px] tablet:px-[80px] desktop:px-[162px];
  }

  .section-padding {
    @apply py-[30px] tablet:py-[40px] desktop:py-[60px];
  }

  .box {
    @apply bg-peach-400 p-8 tablet:p-12 rounded-3xl;
  }

  .btn {
    @apply flex items-center justify-center gap-2 px-5 py-3.5 capitalize text-grey-700;
  }

  .btn-primary {
    @apply text-peach-100 bg-purple;
  }
}
